.character {
  &__container {
    width: 50%;
    border-radius: 16px;
    margin:50px auto;
    background: $white-1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    @include tablet {
     width:60%;
     margin: 70px auto;
    }
    @include mobile {
     width:75%;
     margin:80px auto;
    }
  }
  &__image {
    img {
      width: 50%;
      height: auto;
      max-height: 300px;
      display: block;
      margin: 20px auto;
      border-radius: 16px;
    }
  }
  &__table{
    width: 80%;
    margin:10px auto;
    text-align: center;
    border-collapse: collapse;
    tr{
      border-bottom: 0.5px solid $gray-1;
      height: 30px;
      }
    &-title{
       width: 50%;
       font-size:$font-size-2;
       color:$gray-1;
       font-weight:$font-weight-md;  
      } 
     &-value{
       width: 50%;
       font-size:$font-size-1;
       color:$dark-1;
       font-weight:$font-weight-sm;  
      }   
    }
    
}
.fa{
  font-size:$font-size-2;
  color:$gray-1;
  margin:10px;
}
.fa-frown-o {
  color:$red-1;
}
.fa-smile-o{
  color:$green-1;
}