.episodes {
  &__container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 10px auto;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__card {
    width: 90%;
    height: auto;
    border-radius: 10px;
    min-height: 200px;
    max-height: 270px;
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    > img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      z-index: -99;
    }
    &-info {
      width: 100%;
      position: absolute;
      top: 20%;
      left: 0px;
      z-index: 99;
      font-size: $font-size-2;
      font-weight: $font-weight-md;
      > p {
        text-align: center;
        margin-bottom: 25px;
      }
      @include tablet {
        font-size: $font-size-1;
        font-weight: $font-weight-sm;
      }
      @include mobile {
        font-size: $font-size-2;
        font-weight: $font-weight-md;
      }
    }
  }
}
.episode {
  &__name {
    color: $white-1;
  }
  &__date {
    color: $blue-1;
    .fa {
      font-size: $font-size-3;
      color: $white-1;
    }
  }
}
